doctype html
html
  head
    meta(charset="UTF-8")
    title  #{title}  
    link(rel="stylesheet", href="/css/styleS.css")
  body
    include header.pug
    main#main
        block layout-content
    include footer.pug 