extends common/layout

block layout-content 
    section.hero
        p Your one-stop destination for all your product.
        h2 Products
    section.products
        // Add featured products here
        .product
            img(src="./img/MOBILE1.jpg", alt="mobile")
            h3 Mobile 
            p Price- $1400
        .product
            img(src="./img/MOBILE2.jpg", alt="mobile")
            h3 Mobile 
            p Price- $1300
        .product
            img(src="./img/LAPTOP.png", alt="laptop")
            h3 Laptop 
            p Price- $1500

