extends common/layout

block layout-content
  .hero-section.text-center
    .container
      .row
        .col-md-12.justify-content-center.d-flex
          .hero-content.text-center.bg-dark.text-light.p-4.w-50.rounded-5
            h1 About Us
  .container.my-5
    .row
      .col-md-12
        h2 Our Story
        p
          | Toy Shop was founded in 2020 with a mission to bring joy and excitement to children and families through a wide selection of toys. We believe in the power of play and its role in child development. Our journey began with a small store and has grown into a beloved brand known for quality and customer service.
        p
          | We offer a diverse range of toys, from classic favorites to the latest trends, ensuring there's something for every child. Our team is dedicated to providing a delightful shopping experience, whether you're visiting us in-store or online.
