extends common/layout

block layout-content
    .hero-section.text-center
        .container
            .row
                .col-md-12.justify-content-center.d-flex
                    .hero-content.text-center.bg-dark.text-light.p-4.w-50.rounded-5
                        h1 Return & Refund

    .container.my-5
        .row
            .col-md-6
                h2 Returns
                p
                | Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately, we can’t offer you a refund or exchange. To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
                p
                | To complete your return, we require a receipt or proof of purchase. Please do not send your purchase back to the manufacturer.
                p
                | Please contact us at 
                a(href="mailto:returns@toyshop.com") returns@toyshop.com 
                |  to initiate a return.

            .col-md-6
                h2 Refunds
                p
                | Once your return is received and inspected, we will process the refund in 2  bussiness days and it wil get reflected on the original source of payment.
